:root {
  --title-color: #322153;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
}

body {
  background: #E5E5E5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
}

button {
  cursor: pointer;
}